*{
    margin:0;
    padding:0;
}

body{
    background: linear-gradient(to right, #f857a6, #ff5858);
}

#list{
    margin:60px auto;
    width: 30%;
    min-width:255px;
    background-color:#fff;
    padding:20px 20px 35px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius:4px;
}

#welcomeinfo{
    position:relative;
}

#welcomeinfo a{
    position:absolute;
    right:12px;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#ffa3d1;
}

#welcomeinfo a:hover{
    text-decoration:none;
}

#welcomeinfo .material-icons.md-18{ 
    position:absolute;
    top:1px;
    font-size: 18px; 
}

#formlist{
    display:flex;
    flex-direction:column;
}

#formlist a{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    color:#ffa3d1;
    position:relative;
    margin-bottom:5px;
}

#formlist a:hover{
    text-decoration:none;
}

#formlist .material-icons.md-18{
    font-size: 18px; 
    position:relative;
    top:4px;
}

#list h1{
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
}

#list p{
   font-family: 'Open Sans', sans-serif;
   font-size:15px;
   margin-bottom: 15px;
}

#list input{
    padding: 10px 0 10px 0;
    border-radius: 3px;
    border: 1px solid #bbb;
}

#list input[type=text]{
    padding-left:10px;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}

::placeholder{
    color:#bbb;
}

ol{
    display:flex;
    flex-direction:column;
    margin: 20px 0 10px 35px;
    justify-content:space-between;
}

ol li{
    font-family: 'Open Sans', sans-serif;
    position:relative;
    padding:5px;
    border-radius:3px;
    transition: background-color 1s ease;
}


ol li i{
    position:absolute;
    right:0px;
    top:5px;
    transition: color 1s ease;
    font-style:normal;
}

#list button{
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0 10px 0;
    padding: 10px;
    font-size:16px;
    font-weight:800;
    color:white;
    background-color:#ff69b4;
    border-radius:4px;
    border:none;
    transition: background-color 1s ease;
}

@media screen and (max-width:480px){
    #list{
        max-width:300px;
    }

    #list p{
        font-size:15px;
    }

    #welcomeinfo h1{
        font-size: 22px;
    }

    #welcomeinfo p{
        font-size:13px;
    }
}



